body{
    background-color: #060606;
}

h3{
    color: white;
}
h3 > a{
        text-decoration: underline;
        
        color:rgb(93, 90, 90);
        cursor: pointer;
}
a:hover{
    color: white;
}
h4{
    color: white ;
}
h4 > span {
    color: rgb(93, 90, 90) ;
}
.card{
    background-color: #212529;
}